.card {
  position: relative;
  width: 370px;
  border: 1px solid var(--opacity-color);
  border-radius: var(--rad);
  background-color: var(--detail-color);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 15px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.title {
  font-size: var(--fz-20);
  font-weight: 500;
  color: var(--text-color);
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
}

.descr {
  font-size: var(--fz-18);
  font-weight: 400;
  color: var(--text-color);
  line-height: 24px;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: all 0.3s ease-in-out;
  margin: 20px 0;
  word-break: break-word;

  &.show {
    visibility: visible;
    opacity: 1;
    height: max-content;
  }
}

.progress_bar {
  width: 100%;
  height: 14px;
  background-color: var(--text-color);
  border-radius: var(--rad);
  margin-bottom: 30px;
}
.progress {
  width: 0%;
  height: 14px;
  background-color: var(--pink-color);
  border-radius: var(--rad);
  transition: width 0.4s ease-in-out;
}
.tools {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.btns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.input_block {
  position: relative;
  border-radius: var(--rad);
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, height 0.3s ease-in-out;
  height: 0;
  margin: 20px 0;

  &.show {
    visibility: visible;
    opacity: 1;
    height: auto;
    transform: translateY(0%);
  }

  .add {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 60px;
    height: 100%;
    cursor: pointer;
    border: none;
    border-left: 1px solid var(--text-color);
  }
  .plus {
    font-size: 36px;
    font-weight: 400;
    color: var(--pink-color);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    max-height: 0;
    &.show {
      visibility: visible;
      opacity: 1;
      max-height: max-content;
      transform: translateY(0%);
    }
  }
}
.input_task {
  width: 100%;
  height: 48px;
  outline: none;
  padding: 12px 70px 12px 15px;
  font-size: var(--fz-16);
  font-weight: 400;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: var(--rad);
}

.text {
  transition: transform 0.3s ease-in-out;
  &.rotate {
    transform: rotate(90deg);
  }
}
.icon {
  color: var(--text-color);
  cursor: pointer;
}
