.title {
  font-size: 26px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 30px;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  label {
    font-size: var(--fz-18);
    font-weight: 400;
  }
}
.input {
  font-size: var(--fz-18);
  font-weight: 400;
  color: var(--text-color);
  outline: none;
  border: 1px solid var(--text-color);
  padding: 14px 20px;
  width: 400px;
  height: 50px;
  border-radius: var(--rad);
  background-color: transparent;
  &::placeholder {
    color: var(--detail-color);
  }
}
.textarea {
  resize: none;
  font-size: var(--fz-18);
  font-weight: 400;
  color: var(--text-color);
  outline: none;
  border: 1px solid var(--text-color);
  padding: 14px 20px;
  width: 400px;
  min-height: 140px;
  border-radius: var(--rad);
  background-color: transparent;
  &::placeholder {
    color: var(--detail-color);
  }
}
