@import '../../assets/sass/mixin';
.library {
  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    padding: 0 0 30px 250px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 140px 0 30px 250px;
  }
  &__tools {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__error {
    font-size: 30px;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    margin-top: 40px;
  }
}
@include xl {
  .library {
    padding-top: 100px;
    &__wrapper {
      padding: 0;
    }
    &__top {
      padding: 0;
    }
  }
}
@include lg {
  .library {
    &__top {
      flex-direction: column;
    }
  }
}
@include md {
  .library {
    &__tools {
      flex-direction: column;
      gap: 15px;
    }
  }
}
