.doc {
  padding-top: 140px;
  &__wrapper {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin-top: 60px;
  }
  &__column {
    width: calc(50% - 60px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text-color);
  }
  &__title {
    font-size: 26px;
    font-weight: 400;
    border: 1px solid var(--opacity-color);
    border-radius: var(--rad);
    padding: 8px 16px;
    text-align: center;
    max-width: max-content;
    margin: 0 auto;
  }
  &__descr {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
}
