@import '../../assets//sass/mixin';
.sidebar {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--detail-color);
  border-right: 1px solid var(--pink-color);
  height: 100%;
  width: 250px;
  z-index: 1111;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 140px;
    height: 1px;
    background-color: var(--pink-color);
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px 18px;
}
.logo {
  margin: 0 auto 40px;
}
.link {
  font-size: var(--fz-22);
  font-weight: 600;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  padding: 6px 14px;

  &.active {
    color: var(--white-color);
    background-color: var(--pink-color);
    border-radius: var(--rad);
  }
}

@include xl {
  .sidebar {
    display: none;
  }
}
