.taskManager {
  padding-top: 140px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
  }
  &__tools {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}
