@import '../../assets/sass/mixin';
.card {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
}
.top {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 40px;
  justify-content: space-between;
}
.icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.title {
  font-size: 28px;
  font-weight: 500;
  color: var(--text-color);
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 480px;
}
.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
  word-break: break-word;
  max-height: 150px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px; /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background-color: var(--opacity-color); /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--pink-color); /* цвет плашки */
  }
}
.block {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

@include md {
  .top {
    gap: 15px;
  }
}

@include sm {
  .block {
    flex-direction: column;
    gap: 15px;
  }
}
