@import '../../assets/sass/mixin';
.main {
  padding: 140px 0 30px;

  &__info {
    max-width: 450px;
    color: var(--text-color);
  }
  &__title {
    font-size: 36px;
    font-weight: 600;
    span {
      font-size: 44px;
      font-weight: 600;
      color: var(--pink-color);
    }
  }
  &__descr {
    font-size: var(--fz-18);
    font-weight: 400;
    margin-top: 20px;
    line-height: 26px;
  }
  &__doc {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 120px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--text-color);
    text-align: center;
    border: 1px solid var(--opacity-color);
    background-color: var(--detail-color);
    padding: 30px 24px;
    border-radius: var(--rad);
  }
  &__subtitle {
    font-size: 24px;
    font-weight: 500;
  }
  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
}

@include xl {
  .main {
    padding-top: 100px;
    &__doc {
      margin-top: 60px;
    }
    &__column {
      padding: 20px 16px;
    }
  }
}
@include lg {
  .main {
    &__doc {
      flex-direction: column;
    }
  }
}

@include sm {
  .main {
    &__title {
      font-size: 32px;
      span {
        font-size: 38px;
      }
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
