.main {
  padding-top: 140px;

  &__info {
    max-width: 450px;
    color: var(--text-color);
  }
  &__title {
    font-size: 36px;
    font-weight: 600;
    span {
      font-size: 44px;
      font-weight: 600;
      color: var(--pink-color);
    }
  }
  &__descr {
    font-size: var(--fz-18);
    font-weight: 400;
    margin-top: 20px;
    line-height: 26px;
  }
  &__doc {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin-top: 120px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--text-color);
    text-align: center;
  }
  &__subtitle {
    font-size: 24px;
    font-weight: 400;
    border: 1px solid var(--opacity-color);
    border-radius: var(--rad);
    padding: 8px 18px;
    text-align: center;
    max-width: max-content;
    margin: 0 auto;
  }
  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
}
