.textarea {
  resize: none;
  font-size: var(--fz-18);
  font-weight: 400;
  color: var(--text-color);
  outline: none;
  border: 1px solid var(--text-color);
  padding: 14px 20px;
  width: 100%;
  min-height: 140px;
  border-radius: var(--rad);
  background-color: transparent;
  &::placeholder {
    color: var(--opacity-color);
  }
  &:focus,
  &:active {
    border-color: var(--pink-color);
  }
}
