:root {
  //colors
  --pink-color: #e75ea0;
  --black-color: #181618;
  --dark-color: #282729;
  --gray-color: #b5b5b5;
  --white-color: #fff;
  --light-color: #f6f7fa;

  --white-opacity-color: rgba(255, 255, 255, 0.3);
  --black-opacity-color: rgba(0, 0, 0, 0.3);

  //font-size
  --fz-16: 16px;
  --fz-18: 18px;
  --fz-20: 20px;
  --fz-22: 22px;
  --fz-24: 22px;

  //other
  --rad: 8px;
}

body[data-theme='light'] {
  --bg-color: var(--black-color);
  --text-color: var(--white-color);
  --accent-color: var(--pink-color);
  --detail-color: var(--dark-color);
  --opacity-color: var(--white-opacity-color);
}
body[data-theme='dark'] {
  --bg-color: var(--white-color);
  --text-color: var(--black-color);
  --accent-color: var(--dark-color);
  --detail-color: var(--light-color);
  --opacity-color: var(--black-opacity-color);
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: var(--pink-color);
}
